<div id="links">
  <%= link_to "Delete Song", song_path, method: :destroy, :class => "delete_song", data: {confirm: "Delete this song?"} %>
</div>
<strong><u style="color: ghostwhite;"><h1 class="add_song">Edit Song</h1></u></strong>
<%= form_for @song do |f| %>
  <% if @song.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @song.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="container">
   <div class="field">
   <div class="row">
    <%= f.label :artist %>
   </div>
   <div class="text_row">
    <%= f.text_field :artist %>
   </div>
   <br/>
  </div>
  <div class="field">
   <div class="row">
    <%= f.label :title %>
   </div>
   <div class="text_row">
    <%= f.text_field :title %>
   </div>
   <br/>
  </div>
  <div class="field">
  <div class="row">
    <%= f.label :lyrics %>
  </div>
  <div class="text_row">
    <%= f.text_area :lyric, :rows => 20, :cols => 70%>
  </div>
  </div>
  <div class="actions"><%= f.submit %></div>
  </div>
<% end %>
