<h1>Edit Song</h1>
<%= form_for @song do |f| %>
  <% if @song.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @song.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :lyric %>
    <%= f.password_field :lyric %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
