%section.form-container.align-center
  = bootstrap_form_tag song: songs_path, method: :get do |f|
    = f.text_field :search, placeholder: "Search songs", |
    hide_label: true, value: params[:search],          |
    autofocus: true, wrapper: {class: "float-left"}    |
  = link_to "Clear", songs_path, class: "btn btn-primary"
  %br{:style => "clear: both;"}/
%br/
%br/
#songs_container
  - if params[:search]
    %h1{:style => "color: black; font-family: 'Fjalla One', sans-serif;"}
      %u
        Search Results for "#{params[:search]}"
    - @songs.reverse.each do |s|
      %a{:href => "/songs/#{s.id}", :style => "color: black; font-family: 'Fjalla One', sans-serif;"}
        = s.artist
        "#{s.title}"
        %span
          - if s.likes.count > 0
            - if s.likes.count == 1
              = s.likes.count
              Like
            - else
              = s.likes.count
              Likes
        %br/
        %br/
  - else
    #top_songs
      %h1{:style => "color: black; font-family: 'Fjalla One', sans-serif;"}
        %u
          Top 4 of #{@current_month}
      #artists{:style => "border-radius: 0px;text-align: "}
        - if @top_songs
          - @top_songs.each do |a|
            %a{:href => "/songs/#{a.id}", :style => "color: black; font-family: 'Fjalla One', sans-serif;"}
              = a.artist
              "#{a.title}"
              %span
                - if a.likes.count > 0
                  - if a.likes.count == 1
                    = a.likes.count
                    Like
                  - else
                    = a.likes.count
                    Likes
            %br/
            %br/
      #recent_songs
        %h1{:style => "color: black; font-family: 'Fjalla One', sans-serif;"}
          %u Recent Songs
        - @songs.last(10).reverse.each do |s|
          %a#resongs{:href => "/songs/#{s.id}", :style => "color: black; font-family: 'Fjalla One', sans-serif;"}
            = s.artist
            "\#{s.title}"
            %span
              - if s.likes.count > 0
                - if s.likes.count == 1
                  = s.likes.count
                  Like
                - else
                  = s.likes.count
                  Likes
            %br/
            %br/
