= form_for @song do |f|
  - if @song.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @song.errors.full_messages
          %li= message
  #add_new_song
    %strong
      %u{:style => "color: lightgreen;"}
        %h1.add_song Add Song
    %br/
    #container
      .field
        .row
          = f.label :artist
        .text_row
          = f.text_field :artist, :class => "artist_field"
        %br/
      .field
        .row
          = f.label :title
        .text_row
          = f.text_field :title, :class => "title_field"
        %br/
      .field
        .row
          = f.label :lyrics
        .text_row
          = f.text_area :lyric, :rows => 20, :cols => 70, :class => "lyric_field"
      .actions= f.submit
    = link_to "Cancel", "/"
