<div class="container-fluid song-color">
  <div class="row">

    <div id="show_likes" class="col-md-2 col-md-offset-2">
      <h3><%= @song.likes.count %> <%= "Like".pluralize(@song.likes.count) %></h3>

      <% if @song.user == current_user %>
        <p>
          <%= link_to "Edit", edit_song_path %> |
          <%= link_to(
            "Destroy",
            song_path,
            method: :destroy,
            data: {confirm: "Are you sure?"}
          ) %>
        </p>
      <% end %>
    </div>

    <div id="show_links" class="col-md-4">
      <p class="">Artist: <%= @song.artist %></p>
      <br/>
      <p class="">Title: <%= @song.title %></p>
      <br/>
      <br/>
      <div class="show_lyric">
        <p class="">
          Lyrics:
          <br/>
          <br/>
          <pre><%= @song.lyric %></pre>
        </p>
      </div>
    </div>

  </div>
</div>

<!--
  if a user has liked this song then
  display like count and option to unlike
  which will decrease like count by one

  if a user is logged in as user who submitted song then
  allow them to edit and delete their input
  fix logic here


  work on search functionality
-->
