<!DOCTYPE html>
<html>
<head>
  <title>Museo-Lyrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>
<body style="background-color: indigo;">
<br/>
<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <div class = "logo">
          <p class="logo_text">Museo-Lyrics</p>
        </div>
      </a>
      <br/>
    </div>
    <ul class="nav navbar-nav navbar-brand">
      <% if !current_user %>
        <li style="font-size: 50%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><a href="/">Home</a></li>
        <li style="font-size: 50%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><a href="/login">Login</a></li>
        <li style="font-size: 50%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><a href="/users/new">Sign Up</a></li>
      <% else %>
      <li style="font-size: 40%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><a href="/users">Uploaded Songs</a></li>
      <li style="font-size: 40%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><a href="/users/<%= current_user.id %>">Liked Songs</a></li>
      <li style="font-size: 40%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><a href="/songs/new">Add Song</a></li>
      <li style="font-size: 40%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><a href="/users/<%=current_user.id %>/edit">Profile</a></li>
      <li style="font-size: 40%; display: inline-block; font-family: 'Fjalla One', sans-serif;"><%= link_to "Logout", "/logout", method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
