<!DOCTYPE html>
<html>
<head>
  <title>MuseoLyrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body style="background-color: indigo;">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <div class = "logo">
          <p class="logo_text">Museo-Lyrics</p>
        </div>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li id = "nav_home"><a href="/">Home</a></li>
      <% if !current_user %>
      <li id = "nav_login"><a href="/login">Login</a></li>
      <li id = "nav_signup"><a href="/users/new">Sign Up</a></li>
      <li id = "nav_add_song_1"><a href="/songs/new">Add Song</a></li>
      <% else %>
      <li id = "nav_logout"><%= link_to "Logout", "/logout", method: :delete %></li>
      <li class="greeting">Hello, <%= current_user.name %></li>
      <li id = "nav_add_song_2" style=""><a href="/songs/new">Add Song</a></li>
      <li id = "nav_edit_user"><a href="/users/<%=current_user.id %>/edit">Edit User</a></li>
      <li id = "nav_upload_song"><a href="/users">Uploaded Songs</a></li>
      <li id = "nav_liked_songs"><a href="/users/liked_songs">Liked Songs</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<br/>

<%= yield %>

</body>
</html>
